[Unit]
Description=Online Kasse Server
After=network.target

[Service]
ExecStart={DIR}/cmd/web/web
WorkingDirectory={DIR}/cmd/web
StandardOutput=inherit
StandardInput=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

